* {
  margin: 0;
  padding: 0;
  font-family: allura;
  box-sizing: border-box;
}
.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #3498db, #2ecc71);
  background-size: cover;
  position: relative;
  padding: 10px;
}
.todo-app {
  width: 100%;
  max-width: 640px;
  background: #D75E0C;
  margin: 100px auto;
  padding: 40px 30px 70px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
}
.todo-app h2 {
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  user-select: none;
}
.todo-app h2 img {
  width: 30px;
  margin-left: 10px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
  
}
input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 400;
  font-size: 17px;
}
button {
  border: none;
  outline: none;
  padding: 16px 40px;
  background: rgba(38, 11, 192, 0.7);
  color: rgb(255, 255, 255);
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  transition: .3s;
  font-weight: 400;
}
button:hover {
  background: rgba(38, 11, 192, 1);
  color: white;
}
ul li {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  position: relative;
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  font-weight: 400;
  overflow: hidden;
}
ul li::before {
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url("images/unchecked.png");
  background-size: cover;
  background-position: center;
  top: 8px;
  left: 8px;
}
ul li.checked {
  color: #555;
  text-decoration: line-through;
}
ul li.checked::before {
  background-image: url("images/checked.png");
}
ul li span {
  position: absolute;
  right: -1.1px;
  top: 0px;
  width: 44px;
  height: 44px;
  font-size: 25px;
  color: #555;
  text-align: center;
  line-height: 44px;
  border-radius: 50%;
  background: rgba(236, 173, 16, .8);
  transition: .4s;
}
ul li span:hover {
  background: rgba(239,104,13,.8);
  color: black;
font-weight: 900;
}
@media (max-width:700px){
  .todo-app{
    max-width: 540px;
    padding: 17px 30px 46px;
  }
  button{
    padding: 11px 35px;
  }
}
@media (max-width:620px){
  .todo-app{
    max-width: 440px;
  }
}
@media (max-width:510px){
  .todo-app{
    max-width: 360px;
  }
  input{
    width: 150px;
  }
}
@media (max-width:385px){
  .todo-app{
    max-width: 320px;
  }
  input{
    width: 130px;
  }
}
@media (max-width:335px){
  .todo-app{
    max-width: 280px;
  }
  input{
    max-width: 60px;
  }
  button{
    padding: 11px 20px;
  }
}